body{
  background-color: #E5E3E4;
}
.navbar{
  background-color: #5BA199;
}
.App {
  text-align: center;


}

.input-group{
  width: 60%;
}
.card{
  max-width: 60%;
  background-color: #2B3A67;
}

.card-title{
  position: absolute;
  padding: 20px;
}
.card-date{
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
  
}
.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
}
.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
}
.form-control{
  background-color: #f8f1e9;
  border-radius: 20px;
}
.btn{
  border-radius: 20px;
  background-color: #469597;
}
h2{
  color: #469597;
}